<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Fish Finder</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 60%;
      }
      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }
      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }
      #pac-input:focus {
        border-color: #4d90fe;
      }
      .pac-container {
        font-family: Roboto;
      }
      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }
      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      #target {
        width: 345px;
      }
    </style>
  </head>
  <body>
    <div id="data">{{ data }}</div>
    <div id="output"></div>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map"></div>
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- // <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.bundle.js"></script>

    <script>
      // This example adds a search box to a map, using the Google Place Autocomplete
      // feature. People can enter geographical searches. The search box will return a
      // pick list containing a mix of places and predicted search terms.
      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">
      var markers = [];

      function initAutocomplete() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 37.8087744, lng: -122.477101},
          zoom: 6,
          mapTypeId: 'terrain'
        });
        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });

        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();
          if (places.length == 0) {
            return;
          }

          // Hide graph when places_changed event is registered
          $('#pac-input').change(function(){
            $('#container').hide();
          });

          // Clear out the old markers.
          markers.forEach(function(marker) {
            marker.setMap(null);
          });
          markers = [];
          // For each place, get the icon, name and location.
          var bounds = new google.maps.LatLngBounds();
          places.forEach(function(place) {
            if (!place.geometry) {
              console.log("Returned place contains no geometry");
              return;
            }
            var icon = {
              url: place.icon,
              size: new google.maps.Size(71, 71),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(17, 34),
              scaledSize: new google.maps.Size(25, 25)
            };

            if (place.geometry.viewport) {
              // Only geocodes have viewport.
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          }); // end places.forEach function. I will remove this comment later.
          map.fitBounds(bounds);
          var latLngs = calculateLatLng(map);

        }); // end searchBox.addListener. I will remove this comment later.
      } // end func initAutocomplete. I will remove this comment later.

      function calculateLatLng(map) {

        // Distance matrix code begins here. I will remove this comment later.
        var geocoder = new google.maps.Geocoder;
        var userInput = $('#pac-input').val();
        // Convert user input city to lat/lon for Python distance calculations
        geocoder.geocode({'address': userInput}, function(results, status) {
          if (status === 'OK') {
            var req = {"lat": results[0].geometry.location.lat(), "lon": results[0].geometry.location.lng()};
            $.post("/", req, function (stations) {
              console.log("nearest stations")
              console.log(stations);
              distanceMatrix(map, userInput, geocoder, stations);
            });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      } // end calculateLatLng func. I will remove this comment later.

      function distanceMatrix(map, userInput, geocoder, stations) {

        var destinationIcon = 'https://chart.googleapis.com/chart?' +
            'chst=d_map_pin_letter&chld=D|FF0000|000000';
        var originIcon = 'https://chart.googleapis.com/chart?' +
            'chst=d_map_pin_letter&chld=O|FFFF00|000000';

        var service = new google.maps.DistanceMatrixService;

        service.getDistanceMatrix({
          origins: [userInput],
          destinations: stations.nearest_stations,
          travelMode: 'DRIVING',
          unitSystem: google.maps.UnitSystem.IMPERIAL,
          avoidHighways: false,
          avoidTolls: false
        }, function(response, status) {
          if (status !== 'OK') {
            alert('Error was: ' + status);
          } else {
            var originList = response.originAddresses;
            var destinationList = response.destinationAddresses;

            var destinations = [];
            console.log("response.rows")
            console.log(response.rows);

            // Create array of destination objects
            for (var i = 0; i < destinationList.length; i++) {
              if (response.rows[0].elements[i].status !== "ZERO_RESULTS") {
                destination = {"name": stations.nearest_stations[i].name,
                            "dest": destinationList[i],
                            "id": stations.nearest_stations[i].id,
                            "dist": response.rows[0].elements[i].distance.value,
                            "miles": response.rows[0].elements[i].distance.text,
                            "dur": response.rows[0].elements[i].duration.text};
                destinations.push(destination);
              }
            }

            destinations.sort(function(d1, d2){
              return d1.dist - d2.dist;
            });

            destinations = destinations.slice(0, 3);
            console.log("destinations");
            console.log(destinations);

            var outputDiv = document.getElementById('output');
            outputDiv.innerHTML = '';
            deleteMarkers(markers);
            var showGeocodedAddressOnMap = function(asDestination, title, id, name) {
              var icon = asDestination ? destinationIcon : originIcon;
              return function(results, status) {
                if (status === 'OK') {
                  map.fitBounds(bounds.extend(results[0].geometry.location));
                  var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location,
                    icon: icon,
                    title: title
                  });
                  markers.push(marker);
                  marker.addListener('click', function() {
                    var user_date = $('#datepicker').val();
                    console.log("Date");
                    console.log(user_date);
                    req = {"date": user_date, "id": id};
                    var date_data = $.post("/tides", req, function (result) {
                      console.log(result);
                      $('#container').show();
                      displayGraph(result, name);
                    });
                  });
                } else {
                  alert('Geocode was not successful due to: ' + status);
                }
              };
            };
            var bounds = new google.maps.LatLngBounds();
            for (var i = 0; i < originList.length; i++) {
              var results = response.rows[i].elements;
              geocoder.geocode({'address': originList[i]},
                  showGeocodedAddressOnMap(false, userInput));
              for (var j = 0; j < destinations.length; j++) {
                var title = [destinations[j].name, destinations[j].id, destinations[j].miles, destinations[j].dur];
                title = title.join(', ');
                var id = destinations[j].id;
                geocoder.geocode({'address': destinations[j]["dest"]},
                    showGeocodedAddressOnMap(true, title, id, destinations[j].name));
              }
            } // end for var i = 0. I will remove this comment later.
          } // end else var originList var destinationList. I will remove this comment later.
        }); // end anonymous func f (status !== 'OK') and service.getDistanceMatrix. I will remove this comment later.
      } // end distanceMatrix func. I will remove this comment later.

      function deleteMarkers(markers) {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(null);
        }
        markers = [];
      }
      </script>
      <!-- End Google Maps JS -->

      <!-- Start Datepicker JS -->
      <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
      <script>
        $( function() {
          $( "#datepicker" ).datepicker();
        } );
      </script>
      <p>Date: <input type="text" id="datepicker"></p>
      <!-- End Datepicker JS -->

      <!-- Start Highcharts JS -->
      <script src="https://code.highcharts.com/highcharts.js"></script>
      <script src="https://code.highcharts.com/modules/exporting.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.js"></script>
      <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
      <script>
        function displayGraph(date_data, name) {
        $('#container').highcharts({
          chart: {
            type: 'areaspline'
        },
        title: {
            text: 'Tide Report for ' + name + ' Station'
        },
        subtitle: {
            text: 'Put date/time range here'
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: {
                hour: '%H:%M',
                month: '%e. %b',
                year: '%b'
            },
            title: {
                text: 'Date/Time'
            }
        },
        yAxis: {
            title: {
                text: 'Tide height (f)'
            },
            min: 0
        },
        tooltip: {
            headerFormat: '<b>{series.name}</b><br>',
            pointFormat: '{point.x:%e. %b}: {point.x:%H:%M}: {point.y:.2f} f'
        },

        plotOptions: {
            spline: {
                marker: {
                    enabled: true
                }
            }
        },
        series: [{
            name: 'Tide height and time',
            data: date_data
        }]
      });
      }

    </script>
    <!-- End Highcharts.js -->

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAKHJYd5wMg5IIxfRjxxOW0B5U8jV7sBw&libraries=places&callback=initAutocomplete"
         async defer></script>
  </body>
</html>